/* mobile first */
.mainHomeContainer {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 10px
}

.welcome_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    width: 90%;
    gap: 20px
}

.home_image {
    display: flex;
    transition: transform 0.3s;
    width: 40%;
}

.home_image:hover {
    transform: rotate(10deg);
}

.homeWelcomeAndText {
    align-items: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 100%;
    height: auto;
}

.homeSubtitle {
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.homeTitle {
    font-family: 'Font2', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #6F584B;
}

.buttons_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    font-size: 25px;
    gap: 15px;
}

.home_button {
    /* letter-spacing: 2px; */
    display: inline-block;
    padding: 6px 25px;
    background-color: #FFFFFF;
    color: #6F584B;
    /* text-decoration: none; */
    border: none;
    border-radius: 20px;
    /* Espacio entre los botones */
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-around;
    height: auto;
    width: auto;
    font-size: 90%;
    font-family: 'Font2', sans-serif;
}

.home_button:hover {
    background-color: #6F584B;
    color: #FFFFFF;
}

/* .wordsHome {
    text-align: center;
    font-size: 150%;

} */

/* Estilos para celulares (pantallas menores a 600px) */
@media only screen and (min-width: 361px) and (max-width: 599px) {}

/* Estilos para tablets (pantallas entre 600px y 919px) */
@media only screen and (min-width: 600px) and (max-width: 919px) {
    .home_image {
        width: 20%;
    }

    .homeTitle {
        font-size: 40px;
    }


    .homeSubtitle {
        font-size: 35px;
    }
}

/* computer */
@media only screen and (min-width: 920px) {
    .mainHomeContainer {
        flex-direction: row;
        gap: 1%;
    }

    .welcome_container {
        width: 50%;
        gap: 30px;
    }

    .home_image {
        width: 20%;
    }

    .homeTitle {
        font-size: 50px;
    }


    .homeSubtitle {
        font-size: 35px;
    }


}